{% extends "layout.html" %}
{% block body %}
    <p id="time"><i>Last Updated : {{ time }}</i></p>
    <button id="refresh" onclick="toggleRefresh()">Refresh: {% if autoUpdate %}On{% else %}Off{% endif %}</button>
    <br>

    <table id="status_table">
        <tr>
            <th>Org</th>
            <th>URL</th>
            <th>Status</th>
        </tr>
        {% for org in returned_statuses %}
            {% for url in returned_statuses[org] %}
                <tr>
                    <td>{{ org }}</td>
                    <td>{{ url }}</td>
                    {% if returned_statuses[org][url]["status"] == 'up' %}
                        <td style="color:green">{{ returned_statuses[org][url]["status"] }}</td>
                    {% else %}
                        <td style="color:red">{{ returned_statuses[org][url]["status"] }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endfor %}
    </table>

    <script src="{{ url_for('static', filename='js/refresh.js') }}"></script>
{% endblock %}