{% extends "layout.html" %}
{% block body %}
    <p id="time"><i>Last Updated : {{ time }}</i></p>
    <button id="refresh" onclick="toggleRefresh()">Refresh: {% if autoUpdate %}On{% else %}Off{% endif %}</button>
    <br>

    <table id="status_table">
        <tr>
            <th>Organisation</th>
            <th>URL</th>
            <th>Status</th>
        </tr>
        {% for org in returned_statuses %}
            {% for url in returned_statuses[org] %}
                <tr id="{{ url }}">
                    <td>{{ org }}</td>
                    <td>{{ url }}</td>
                    <td class="{{ returned_statuses[org][url]["status"] }}">{{ returned_statuses[org][url]["status"] }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>

    <script src="{{ url_for('static', filename='js/refresh.js') }}"></script>
{% endblock %}